/* Variables */

:root {
  --greenish: #47a23f;
  --navy: #012a4d;
  --lightblue: #0085bf;
  --grey: #c7c9c7;
  --orange: #ea733d;
}

/* 👇 Class Selectors */

.home-welcome {
  text-align: center;
  font-family: var(--srcsansreg);
  /* position: absolute; */
  /* width: 50%; */
}

.flex-those-events {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.landing-title {
  text-align: center;
  font-family: var(--bgrotbold);
  margin-bottom: 30px;
  margin-top: -30px;
  color: white;
  font-size: 35px;
}

.landing-summary {
  text-align: center;
  font-family: var(--srcsansitvarfntwgt);
  margin-bottom: 30px;
  margin-top: -30px;
  color: white;
  font-size: 15px;
}

.card {
  width: 400px;
  height: 200px;
  background-color: var(--greenish);
  font-family: var(--srcsansreg);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 4px rgba(3, 3, 0, 0.4);
  border-radius: 8px;
  transition: 90ms ease-in-out;
  
}

.card:hover {
  transform: scale(1.1);
}

.card-img {
  width: auto;
  height: 80%;
  overflow-y: hidden;
  max-width: 100%;
  object-fit: cover;
}

.card-content {
  padding: 15px;
  color: white;
}

.section-events-title h1{
  text-align: center;
  font-size: 40px;
  color: var(--navy);
  font-family: var(--bgrotbold);
  margin-top: -10px;
  margin-bottom: -100px;
  background-color: var(--orange);
  margin-left: 100px;
  margin-right: 100px;
  padding: 0px;
  border-radius: 55px;
}

.event-section-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  transform: translateY(120px);
  flex-wrap: wrap;
}

.gallery-card {
  width: 300px;
  height: 500px;
  background-color: var(--greenish);
  font-family: var(--srcsansreg);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  transition: 90ms ease-in-out;
  flex-basis: 25%;
  color: white;
}

.gallery-card:hover {
  transform: scale(1.1);
}

.gallery-card-img {
  width: auto;
  height: 80%;
  overflow-y: hidden;
  max-width: 100%;
  object-fit: cover;
}

/* create Stick-it note visualization */
/* .card-post-it {
  width: 300px;
height:300px;
position:relative;
background:#ffa;
overflow:hidden;
margin:30px auto;
padding:20px;
border-radius:0 0 0 30px/45px;
font-family: var(--srcsansreg);
line-height:1.7em;
font-size:19px;
-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

color:var(--orange);
}

.card-post-it li {
  cursor:pointer; 
}

.card-post-it:before {
  content:"";
display:block;
position:absolute;
width:20px;
height:25px;
background:#ffa;
box-shadow:
 3px -2px 10px rgba(0,0,0,0.2),
 inset 15px -15px 15px rgba(0,0,0,0.3);
left:0;
bottom:0;
z-index:2;
transform:skewX(25deg);
} */
/* end of Stick-it visual */

.highlights-section {
  background-color: var(--navy);
  margin-left: 100px;
  margin-right: 100px;
  padding: 50px;
  border-radius: 55px;
}

.gallery-section {
  background: transparent;
  margin: 0;
  padding: 50px;
  position: absolute;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  height: 100vh;
  width: 100vw;
}

.gallery-card-content {
  padding-left: 8px;
  padding-top: 1px;
}

.create-event-btn {
  display: flex;
  width: 200px;
  position: absolute;
  justify-content: flex-start;
  transform: translate(5px, -61px);
  z-index: 0;
}

.event-date-highlight {
  position: absolute;
  transform: translate(500%, -40px);
}

/* General Selectors */

h1, h2, h3, h4, h5 {
  text-transform: capitalize;
}