.landing-page-highlights-section {
  transform: translateY(60px);
  flex-direction: row;
}
.landing-title {
  width: auto;
  justify-self: center;
  position: absolute;
}

.titleContainer{
  display: flex;
  justify-content: center;
  position: relative;
}

.highlights-container {
  border: 1px solid black;
  display: flex;
  width: 200px;
  height: 200px;
  margin-left: 2rem;
  flex-direction: row;
  cursor: pointer;
}

.create-event-btn {
  position: absolute;
  transform: translate(500%, 500%);
}