table {
    width: 100%;
    text-align: left;
}

table,
th,
td {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    height: 2.15em;

}

th,
td {
    padding: .5em;
    min-width: 3.5em;
}

thead {
    background: #ea733d;
    color: #FCFCFC;
}





th {
    background-color: #ea733d;
    border-color: #EDEBEB;
   
}

td {
    color: black;
}

#modal-modal-title {
    text-align: center;
}

#modal-modal-description {
    text-align: center;
}

.star{
    color: rgb(200, 200, 4);
}

/* create Stick-it note visualization */
.events-post-it {
    width: 90%;
 height: fit-content;
 position:relative;
 background:#ffa;
 overflow:hidden;
 margin:30px auto;
 padding:20px;
 border-radius:0 0 0 30px/45px;
 /* box-shadow:
   inset 0 -40px 40px rgba(0,0,0,0.2),
   inset 0 25px 10px rgba(0,0,0,0.2),
   0 5px 6px 5px rgba(0,0,0,0.2); */
 font-family: var(--srcsansreg);
 line-height:1.7em;
 font-size:19px;
 -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

 color:#130d6b;
}

.events-post-it li {
    cursor:pointer; 
}

.events-post-it:before {
    content:"";
 display:block;
 position:absolute;
 width:20px;
 height:25px;
 background:#ffa;
 box-shadow:
   3px -2px 10px rgba(0,0,0,0.2),
   inset 15px -15px 15px rgba(0,0,0,0.3);
 left:0;
 bottom:0;
 z-index:2;
 transform:skewX(25deg);
}

.pending-post-it {
    width: 90%;
 height: fit-content;
 position:relative;
 background:#fff68b;
 overflow:hidden;
 margin:30px auto;
 padding:20px;
 border-radius:0 0 0 30px/45px;
 /* box-shadow:
   inset 0 -40px 40px rgba(0,0,0,0.2),
   inset 0 25px 10px rgba(0,0,0,0.2),
   0 5px 6px 5px rgba(0,0,0,0.2); */
 font-family: var(--srcsansreg);
 line-height:1.7em;
 font-size:19px;
 -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

 color:#130d6b;
}

.pending-post-it li {
    cursor:pointer; 
}

.pending-post-it:before {
    content:"";
 display:block;
 position:absolute;
 width:20px;
 height:25px;
 background:#ffa;
 box-shadow:
   3px -2px 10px rgba(0,0,0,0.2),
   inset 15px -15px 15px rgba(0,0,0,0.3);
 left:0;
 bottom:0;
 z-index:2;
 transform:skewX(25deg);
}

.approved-post-it {
    width: 90%;
 height: fit-content;
 position:relative;
 background:#cdfc93;
 overflow:hidden;
 margin:30px auto;
 padding:20px;
 border-radius:0 0 0 30px/45px;
 /* box-shadow:
   inset 0 -40px 40px rgba(0,0,0,0.2),
   inset 0 25px 10px rgba(0,0,0,0.2),
   0 5px 6px 5px rgba(0,0,0,0.2); */
 font-family: var(--srcsansreg);
 line-height:1.7em;
 font-size:19px;
 -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

 color:#130d6b;
}

.approved-post-it li {
    cursor:pointer; 
}

.approved-post-it:before {
    content:"";
 display:block;
 position:absolute;
 width:20px;
 height:25px;
 background:#ffa;
 box-shadow:
   3px -2px 10px rgba(0,0,0,0.2),
   inset 15px -15px 15px rgba(0,0,0,0.3);
 left:0;
 bottom:0;
 z-index:2;
 transform:skewX(25deg);
}

.deleted-post-it {
    width: 90%;
 height: fit-content;
 position:relative;
 background:#ff7ecd;
 overflow:hidden;
 margin:30px auto;
 padding:20px;
 border-radius:0 0 0 30px/45px;
 /* box-shadow:
   inset 0 -40px 40px rgba(0,0,0,0.2),
   inset 0 25px 10px rgba(0,0,0,0.2),
   0 5px 6px 5px rgba(0,0,0,0.2); */
 font-family: var(--srcsansreg);
 line-height:1.7em;
 font-size:19px;
 -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

 color:#130d6b;
}

.deleted-post-it li {
    cursor:pointer; 
}

.deleted-post-it:before {
    content:"";
 display:block;
 position:absolute;
 width:20px;
 height:25px;
 background:#ffa;
 box-shadow:
   3px -2px 10px rgba(0,0,0,0.2),
   inset 15px -15px 15px rgba(0,0,0,0.3);
 left:0;
 bottom:0;
 z-index:2;
 transform:skewX(25deg);
}
/* end of Stick-it visual */

.EventsTable {
    width: 55%;
    margin-top: 5%;
    margin-left: 1%;
}

.EventsTable-header {
    background-color: #ea733d;
    opacity: 75%;
}

.TagsTable {
    width: 40%;
    float: right;
    margin: 20px;
    margin-top: 0%;
    
}
.TagsTable {
    position: absolute;
    top: 19.5%;
    right: 1%
}



.AddTag {
    float: right;
   position: absolute;
   top: 13%;
   right: 20%;
 
   
}

.CreateEvent {
float: right;
    position: absolute;
    top: 13%;
    left: 5%;
}