table {
    width: 100%;
    text-align: left;
}

table,
th,
td {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    height: 2.15em;

}

th,
td {
    padding: .5em;
    min-width: 3.5em;
}

thead {
    background: #7A7A7A;
    color: #FCFCFC;
}





th {
    background-color: black;
    border-color: #EDEBEB;
   
}

td {
    color: black;
}

#modal-modal-title {
    text-align: center;
}

#modal-modal-description {
    text-align: center;
}

.star{
    color: rgb(200, 200, 4);
}

.EventsTable {
   width: 50%;
    margin-top: 5%;
    margin-left: 1%;
}

.TagsTable {
    width: 40%;
    float: right;
    margin: 20px;
    margin-top: -6.6%;
}

.AddTag {
    float: right;
    margin-top: 0%;
    margin-left: 50%;
    margin-right: 20%;
 
   
}

.CreateEvent {
    margin-top: 1%;
    margin-left: 1%;
}