main {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: var(--grey);
    border-radius: 10px
}

::-webkit-scrollbar-thumb:hover {
    background: #808080;
}

.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100vw;
}

.modal-body, .modal-img {
    color: white;
    font-family: var(--bgrotreg);
}

.modal-img {
    position: absolute;
    float: left;
}

.modal-title {
    text-align: center;
    font-family: var(--bgrotblack);
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    position: absolute;
}

.modal-img {
    height: 60vh;
    width: 540px;
    overflow: hidden;
    margin-left: 2em;
    transform: translateY(100px);
    background-color: var(--navy);
    object-fit: cover;
}

.modal-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.close-btn {
    background: none;
    border: none;
    position: absolute;
    font-size: 23px;
    color: white;
    transform: translate(1540px, 10px);
    cursor: pointer;
}

.modal-title {
    position: absolute;
    transform: translate(500px, 20px);
    width: 700px;
    font-size: 50px;
}

.modal-body {
    position: absolute;
    display: flex;
    height: 54.5vh;
    width: 60vw;
    border: 1px solid white;
    transform: translate(600px, 150px);
}

.modal-body p {
    padding: 10px;
    overflow-y: auto;
}

.modal-event-size {
    position: relative;
    color: white;
    font-size: 20px;
    margin-left: .4rem;
}

/* .medium-event {
    padding-right: 2rem;
} */

/* .small-event {
    padding-right: 1.2rem;
} */

/* .large-event {
    padding-right: 1.1rem;
} */


.modal-event-size .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    transform: translate(-9rem, 26px);
    position: relative;
    z-index: 1;
    opacity: 0;
    font-size: medium;
    transition: opacity 0.2s ease-in-out;
}

.people-alt-icon {
    position: relative;
    color: white;
}

.modal-event-size:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.modal-event-cost {
    color: white;
    height: 20px;
    position: relative;
    width: 100px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin-left: 25px;
    padding-left: 24px;
    margin-right: 25px;
    transform: translateY(0px);
    height: 30px;
}

.modal-info {
    display: flex;
    color: white;
    transform: translate(600px, 110px);
    flex-direction: row;
    font-family: var(--srcsansmed);
    font-size: 20px;
}

.modal-date {
    border-right: 1px solid white;
    padding-right: 23px;
    margin-right: 25px;
}