.header {
  display: flex;
  justify-content: center;
}
.nav-title {
  display: flex;
  justify-content: center;
  font-family: var(--bgrotreg);
  position: absolute;
  font-size: 55px;
  color: #004986;
  letter-spacing:  -1px;
  word-spacing: 10px;
  opacity: 80%;
}

.icon {
  color: #ea733d;
}
