.contact-header {
    text-align: center;
}

.contact-content {
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}

.grid-container {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(auto, 4, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.grid-item1 {
    text-align: right;
    height: 40px;
}

.grid-item2 {
    text-align: center;
    width: 15px;
    height: 40px;
    padding: 0%;
    margin: 0%;
}

.grid-item3 {
    text-align: left;
    height: 40px;
}

.grid-item4 {
    text-align:left;

}

/* create Stick-it note visualization */
.contact-post-it {
    width: 50%;
    height: fit-content;
    position: relative;
    background: #fff68b;
    overflow: hidden;
    margin: 30px auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 0 0 0 30px/45px;
    font-family: var(--srcsansreg);
    line-height: 1.7em;
    font-size: 19px;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  
    color: #black;
  }
  
  .contact-post-it li {
    cursor: pointer;
  }
  
  .contact-post-it:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 25px;
    background: #fff68b;
    box-shadow: 3px -2px 10px rgba(0, 0, 0, 0.2),
      inset 15px -15px 15px rgba(0, 0, 0, 0.3);
    left: 0;
    bottom: 0;
    z-index: 2;
    transform: skewX(25deg);
  }