#pg-title-create {
    display: flex;
    justify-content: center;
    transform: translateY(50%);
    position: relative;
}

#event-name-input, #name-label {
    display: flex;
    position: relative;
    transform: translate(300px, 30px);
}

#event-location-input, #location-label{
    display: flex;
    align-items: center;
    transform: translate(200px, 50px);
}

#event-date-input, #date-label{
    display: flex;
    align-items: center;
    transform: translate(200px, 50px);
}

#event-cost-input, #cost-label{
    display: flex;
    align-items: center;
    transform: translate(200px, 50px);
}

#event-host-input, #host-label{
    display: flex;
    align-items: center;
    transform: translate(200px, 50px);
}



.discard-btn {
    position: relative;
    transform: translate(100px, -122px);
    height: 2.5rem;
    width: 5rem;
}

.submit-btn {
    position: relative;
    transform: translate(79rem, -82px);
    height: 2.5rem;
    width: 5rem;
}